.field-validation-error{ color: #f00; }
.field-validation-valid{ display: none; }
.input-validation-error{ border: 1px solid #f00; background-color: #fee; }
.validation-summary-errors { font-weight: bold;color: #f00; }
.validation-summary-valid { display: none; }

body { height: 100%;}

#mainHeader { background-color: #333;color: white;font-size: 2em;padding: .5em .5em .5em .5em;}
#contentRow { height: 100%;}
#configMenu { float: left;height: 100%;}

#gridDatabase { margin: .1em .1em .1em .1em;}
#gridDatabase th { background-color: #666;color: WindowText;}

#configMenuList a.selected { background: #666;color: white;}
#configMenuList a.hover { background: #ccc;}
#configMenuList a.selected:hover { background: #666;}

#caption { color: white;text-decoration: none;}
#loginDiv a { color: white;text-decoration: none;font-size: .5em;}