.field-validation-error{ color: #f00; }
.field-validation-valid{ display: none; }
.input-validation-error{ border: 1px solid #f00; background-color: #fee; }
.validation-summary-errors { font-weight: bold;color: #f00; }
.validation-summary-valid { display: none; }

body { height: 100%;}

#mainHeader { background-color: #333;color: white;font-size: 2em;padding: .5em .5em .5em .5em;}
#contentRow { height: 100%;}
#mainMenu { float: left;height: 100%;}

#gridDatabase { margin: .1em .1em .1em .1em;}
#gridDatabase th { background-color: #666;color: WindowText;}

#mainMenuList a.selected { background: #666;color: white;}
#mainMenuList a.hover { background: #ccc;}
#mainMenuList a.selected:hover { background: #666;}