@model Tv_Rv.Config.AnalyzerConfig
<div class="span2">
    @using (Html.BeginForm("Index","AnalyzerConfig"))
    {
        <div class="" tabindex="0" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class=""><b>Параметры анализатора</b></div>
            <div class="">
                @Html.EditorForModel()
            </div>
            <div class="">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
                <a href="@Url.Action("Index", "TvRvConfigurator")" class="btn">Отмена</a>
            </div>
        </div>
    }
</div>
