@model Tv_Rv.Config.Web.Models.LoginViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    <div class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">Войти</div>
        <div class="modal-body">
            @Html.ValidationSummary(true)
            @Html.EditorForModel()
        </div>
        <div class="modal-footer">
            <input type="submit" value="Войти" class="btn btn-success" />
        </div>
    </div>
}
